{{ define "main" }}
  <div class='hx-mx-auto hx-flex {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) }}
    {{ partial "toc.html" . }}
    <article class="hx-w-full hx-break-words hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-justify-center hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx-w-full hx-min-w-0 hx-max-w-6xl hx-px-6 hx-pt-4 md:hx-px-12">
        <div style="text-align: center; margin: 0 auto; max-width: 600px;">
          <img src="profile.png" alt="profile" width="120" style="display: block; margin: 10px auto 20px auto;"/>
          <p><strong>Computer Engineering</strong> BSc student @ Sapienza Università di Roma. Interested in software development, mathematics, chess, art, and photography.</p>
      </div>
      
        <div class="content">
          {{ .Content }}
        </div>
      </main>
    </article>
  </div>
{{ end }}
